{% extends 'web/base.html' %}
{% load static %}

{% block css_plugins %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.css" />
{% endblock %}

{% block js %}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.13.1/datatables.min.js"></script>
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
{% endblock %}


{% block content %}
<div class="main-panel " id="demo">
    <div class="content-wrapper" id="demo2">
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <h5 class="customer-list-head pb-4">Customer List: </h5>
                <div class="card card-body">
                    <div class="table-responsive">
                        <table id="example" class="table table-bordered" style="width:100%;">
                            <thead>
                                <tr class="border">
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email Id</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody class="td-color">
                                {% for profile in object_list %}
                                <tr>
                                    <td>{{ profile.name }}</td>
                                    <td>{{ profile.phone_no }}</td>
                                    <td>{{ profile.email }}</td>
                                    <td>
                                        <a href="{% url 'invoices:customer-update' profile.pk %}">
                                            <i class="fa-solid fa-pen-to-square edit-edit"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'invoices:customer-delete' profile.pk %}">
                                            <i class="fa-solid fa-trash delete-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <td colspan="5">No profile yet.</td>
                                {% endfor %}
                            </tbody>

                        </table>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <a href="{% url 'invoices:customer-add' %}">
                            <div class="add-customer">
                                <span>Add Customer</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <a href="{% url 'invoices:invoice-list' %}">
                            <div class="create-invoice">
                                <span>Create Invoice</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
{% endblock %}