{% extends "web/base.html" %}
{% load static crispy_forms_tags %}

{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}


{% block content %}
<div class="main-panel ml-0 mx-auto" id="demo">
    <div class="content-wrapper" id="demo2">
        <section>
            <div class="row">
                <div class="col-12 mb-3">
                    <h3>Profile</h3>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <form action="" method="post">{% csrf_token %}

                        <div class="row">
                            <div class="col-md-6">
                                {{form.name|as_crispy_field}}
                            </div>
                            <div class="col-md-6">
                                {{form.email|as_crispy_field}}
                            </div>
                            <div class="col-md-6">
                                {{form.phone_no|as_crispy_field}}
                            </div>
                           
                            <div class="col-md-6">
                                {{form.address|as_crispy_field}}
                            </div>
                            
                        </div>
                        
                        <div class="actions mt-3">
                            <a href="{% url 'invoices:invoice-list' %}" class="back border btn">
                                <i class="fa-solid fa-arrow-left-long"></i>
                                <span style="color: #000;">Back</span>
                            </a>
                            <input type="submit" value="Save" class="save-button" />
                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}