{% extends "web/base.html" %}
{% load static crispy_forms_tags %}

{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}

{% block css_plugins %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
<link rel="stylesheet" href="{% static 'invoice/css/style.css' %}">
{% endblock %}

{% block css %}
<style>
    .save-button {
        border-radius: 10px;
        border: 1px solid #11831f;
        padding: 3px 17px;
        background-color: #11831f;
        color: #fff;
        font-weight: 400;
    }

    .back {
        color: #000;
        text-decoration: none;
        margin-right: 14px;
    }
</style>
{% endblock css %}

{% block js_plugins %}
<script src="{% static 'formset/jquery.formset.js' %}"></script>
<script src="{% static 'invoice/js/jspdf.min.js' %}"></script>
<script src="{% static 'invoice/js/html2canvas.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'invoice/js/main.js' %}"></script>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $('.formset_row').formset({
        addText: '<div style="color:black;"><i class="fa-solid fa-plus" style="color:green;border:1px solid green;border-radius:50%;padding:5px;margin-right:5px"></i>Add Service</div>',
        deleteText: '<i class="fa-solid fa-xmark" style="color: red;border: 1px solid red;border-radius: 50%;width: 24px;height: 24px;display: flex;align-items: center;justify-content: center;"></i>',
        prefix: 'familymember_set'
    });
</script>
<script>
    $(".add-row, select").click(function () {
        $('select').select2();
    });
</script>
{% endblock js %}


{% block content %}
<div class="main-panel ml-0 mx-auto" id="demo">
    <div class="content-wrapper" id="demo2">
        <section>
            <div class="row">
                <div class="col-12 mb-3">
                    <h3>Create Invoice</h3>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <form action="" method="post">{% csrf_token %}

                        <div class="row">
                            <div class="col-md-4">
                                {{form.customer|as_crispy_field}}
                            </div>
                            <div class="col-md-4">
                                {{form.invoice_name|as_crispy_field}}
                            </div>
                            <div class="col-md-4">
                                {{form.invoice_no|as_crispy_field}}
                            </div>
                        </div>

                        <table class="table">

                            {{ invoices_items.management_form }}

                            {% for form in invoices_items.forms %}
                            {% if forloop.first %}
                            <thead>
                                <tr>
                                    {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                    {% endfor %}
                                    <td></td>
                                </tr>
                            </thead>
                            {% endif %}
                            <tr class="{% cycle row1 row2 %} formset_row">
                                {% for field in form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                    {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                    {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </table>

                        <div class="actions mt-3">
                            <a href="{% url 'invoices:invoice-list' %}" class="back border btn">
                                <i class="fa-solid fa-arrow-left-long"></i>
                                <span style="color: #000;">Back</span>
                            </a>

                            <input type="submit" value="Save" class="save-button" />

                        </div>

                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}