{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}

<div class="wrapper py-5">

    <form class="form-right" method="POST" action="">
        <h2 class="text-uppercase">USK Agent Registration</h2>

        <div class="row text-left">
            {% csrf_token %}

            {% for field in user_form %}
            <div class="col-sm-6 mb-3">
                <div class="form-group">
                    {{ field|as_crispy_field }}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="mb-4">
            <label for="termsCheck" class="form-check-label d-flex align-items-center">
                <input type="checkbox" name="terms" id="termsCheck" required class="me-2">
                I agree to the <a href="{% url 'web:termsConditions' %}">Terms and Conditions</a>
        </div>

        <div class="form-field text-center">
            <button type="submit" id="submitBtn" class="btn btn-primary" name="register"
                disabled>Submit</button>
        </div>
    </form>
</div>
{% endblock %}
