{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<div class="main-panel " id="demo">
    <div class="content-wrapper" id="demo2">
        <section>
            <div class="row">
            {% for portals in agency_portal %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-3 software-card-margin ">
                    <a href="">
                        <div class="card">
                            <div class="card-body-portal">
                                <img src="{{portals.image.crop.194x194}}" alt="">
                            </div>
                            <div class="head-name">
                                <h6>{{portals.name}}</h6> 
                             </div>
                        </div>
                    </a>
                    <div class="row row-width">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 access-button">
                            <a href="{{portals.detail_link}}" style="color: #fff;" rel="noopener noreferrer" target="_blank">ACCESS</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 access-button">
                            <a href="{{portals.detail_link}}" style="color: #fff;" rel="noopener noreferrer" target="_blank">DETAILS</a>
                        </div>
                    </div>
                    {% comment %}
                    <div class='buttons'>
                        <div class='left-col'>
                            <a href="{{portals.link}}" class="access-portal" rel="noopener noreferrer"
                                target="_blank">ACCESS</a>
                        </div>
                        <div class='right-col-portal'>
                            <span class="name-portal">{{portals.name}}</span>
                            <!-- <a href=""  rel="noopener noreferrer" target="_blank"></a> -->
                        </div>
                    </div>
                    {% endcomment %}
                </div>
             {% endfor %}
            </div>
        </section>
    </div>
</div>



{% endblock %}}