{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<div class="main-panel " id="demo">
    <div class="content-wrapper" id="demo2">
        <section>
            <div class="row">
                {% for portals in agency_portal %}
                <div class="col-lg-2 col-md-4 col-sm-6 col-6 grid-margin">
                    <div class="card">
                        <div class="card-image">
                            {% if portals.image %}
                            <img src="{{portals.image.crop.194x194}}" alt="">
                            {% endif %}
                        </div>
                        <div class="head-name">
                            <h5 style="color:#000 ;">{{portals.title}}</h5>
                            <h6 style="color:#000 ;">{{portals.name}}</h6>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="w-50 access-button mr-1">
                            <a href="{{portals.detail_link}}" style="color: #fff;" rel="noopener noreferrer"
                                target="_blank">ACCESS</a>
                        </div>
                        <div class="w-50 access-button">
                            <a href="{{portals.detail_link}}" style="color: #fff;" rel="noopener noreferrer"
                                target="_blank">DETAILS</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>



{% endblock %}}