{% extends 'web/base.html' %}
{% block content %}
{% load static %}


<div class="main-panel " id="demo">
    <div class="content-wrapper" id="demo2">
        <section>
            <div class="row">
            {% for services in back_office_services %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-3 software-card-margin ">
                    <a href="">
                        <div class="card-office">
                            <div class="card-body-office">
                                <img src="{{services.image.crop.194x194}}" alt="">
                            </div>
                        </div>
                    </a>
                    <div class='buttons'>
                        <div class='left-col'>
                            <a href="{{services.link}}" class="access-backservice" rel="noopener noreferrer"
                                target="_blank">ACCESS</a>
                        </div>
                        <div class='right-col-backservice'>
                            <span class="name-backservice">{{services.name}}</span>
                            <!-- <a href=""  rel="noopener noreferrer" target="_blank"></a> -->
                        </div>
                    </div>
                    <!-- <div>
                        <a href="{{services.link}}" class="access-backservice" rel="noopener noreferrer" target="_blank">ACCESS</a>
                        <a href="" class="name-backservice" rel="noopener noreferrer" target="_blank">{{services.name}}</a>
                      </div> -->
                    <!-- <a href="{{services.link}}">
                        <button class="btn-hover-office color-6">{{services.name}}</button>
                    </a> -->
                </div>
             {% endfor %}
            </div>
        </section>
    </div>
</div>



{% endblock %}}