{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<div class="main-panel " id="demo">
    <div class="content-wrapper" id="demo2">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, saepe in quis modi necessitatibus, odio tempore esse earum animi, laudantium sapiente ab cupiditate temporibus suscipit facilis perferendis dolore est omnis.</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}