{% extends 'web/base.html' %}
{% load static %}
{% block body %}

<div class="container">
  <div class="certificate-bg">
    <div class="ombre-externe" id="certificate">
      <div class="peinture-ombre-interne-fine">
        <div class="row">
          <div class="col-lg-4  text-start">
            <img src="{% static 'web/images/USK Login Logo.png' %}" class="usk-logo-certificate">
          </div>
          <div class="col-lg-4 offset-md-4">
            <img src="{% static 'web/images/Bruvsha Logo.png' %}" class="usk-logo-certificate">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="certificate-head-bg">
              <h1 class="creatificate-head">Certificate Of Association</h1>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <span class="date">Joined Date : </span><span>&nbsp;{{request.user.created}}</span>
          </div>
          <div class="col-lg-3 offset-md-6">
            <span class="date">Usk Id : </span><span>&nbsp;{{request.user.id}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="my-4">
              <p class="certificate-present">The Certificate is Presented to :-</p>
            </div>
            <div class="hr-margin">
              <span class="username">{{request.user.name}}</span>
              <hr class="certificate-hr">
            </div>
            <div class="mt-4">
              <p class="certificate-present-left">Is an Authorized Agent of USKLOGIN.com</p>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <p class="agent-details text-end">Shop Name :</p>
              </div>
              <div class="col-lg-6 text-start">
                <span>{{request.user.shop_name}}</span>
              </div>
              <div class="col-lg-6">
                <p class="agent-details text-end">District :</p>
              </div>
              <div class="col-lg-6 text-start">
                <span>{{request.user.district}}</span>
              </div>
              <div class="col-lg-6">
                <p class="agent-details text-end">Pincode :</p>
              </div>
              <div class="col-lg-6 text-start">
                <span>{{request.user.pincode}}</span>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <img src="{% static 'web/images/Seal.png' %}" class="seal-image">
          </div>
          <div class="col-lg-4">
            <img src="{% static 'web/images/Sign.png' %}" class="sign-image">
          </div>
        </div>
        <div class="footer-foot"></div>
      </div>
    </div>
  </div>

  <a href="{% url 'web:pdf_certificate' %}" id="print-button">
    <div class="download-button">
      Download
    </div>
  </a>


</div>

{% endblock %}