{% extends 'web/base.html' %}
{% load static humanize %}
{% block content %}

<div class="main-panel " id="demo">
  <div class="content-wrapper" id="demo2">

    <div class="d-none">
      <div class="service-heading">
        <h5>Branding Image</h5>
      </div>
      <div class="container">
        {% if branding_image.image %}
        <img src="{{branding_image.image.crop.1000x100}}" id="footerImage" alt="Image">
        {% else %}
        <h4>....</h4>
        {% endif %}
      </div>
    </div>


    <div class="row">
      <div class="col-12">
        <h5 class="service-heading">Recently Added</h5>
      </div>

      {% for obj in common_services_poster|slice:"0:2" %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="card card-body w-100">
          <img src="{{obj.image.url}}" data-id="{{obj.id | apnumber }}" alt="Image">
          <img src="{{branding_image.image.url}}" alt="" class="branding_image" />
          <p class="my-1">{{obj.title}}</p>
          <div class="text-center">
            <button class="btn-sm btn btn-primary generate" target="_blank"
              data-source="{{obj.id | apnumber }}">Download</button>
            <a href="{{obj.detail_link}}" class="btn btn-info btn-sm">Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="img-popup">
        <div class="container" id="resultContainer" style="display: none;">
          <img class="img-responsive popup-imagea" id="result" src="">
          <div class="text-center mt-3 poster-download-button">
            <a id="download" class="btn-sm mx-auto btn btn-warning " download>Download</a>
          </div>
        </div>
        <div class="close-btn">
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>

      {% for obj in festivel_poster|slice:"0:2" %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="card card-body w-100">
          <img src="{{obj.image.url}}" data-id="{{obj.id | apnumber }}" alt="Image">
          <img src="{{branding_image.image.url}}" alt="" class="branding_image" />
          <p class="my-1">{{obj.title}}</p>
          <div class="text-center">
            <button class="btn-sm btn btn-primary generate" target="_blank"
              data-source="{{obj.id | apnumber }}">Download</button>
            <a href="{{obj.detail_link}}" class="btn btn-info btn-sm">Details</a>
          </div>
        </div>
      </div>
      {% endfor %}


      {% for obj in professional_poster|slice:"0:2" %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="card card-body w-100">
          <img src="{{obj.image.url}}" data-id="{{obj.id | apnumber }}" alt="Image">
          <img src="{{branding_image.image.url}}" alt="" class="branding_image" />
          <p class="my-1">{{obj.title}}</p>
          <div class="text-center">
            <button class="btn-sm btn btn-primary generate" target="_blank"
              data-source="{{obj.id | apnumber }}">Download</button>
            <a href="{{obj.detail_link}}" class="btn btn-info btn-sm">Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>


    <div class="row">
      <div class="col-12">
        <h5 class="service-heading">Common Services</h5>
      </div>
      {% for obj in obj_poster %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="card card-body w-100">
          <img src="{{obj.image.url}}" data-id="{{obj.id | apnumber }}" alt="Image">
          <img src="{{branding_image.image.url}}" alt="" class="branding_image" />
          <p class="my-1">{{obj.title}}</p>
          <div class="text-center">
            <button class="btn-sm btn btn-primary generate" target="_blank"
              data-source="{{obj.id | apnumber }}">Download</button>
            <a href="{{obj.detail_link}}" class="btn btn-info btn-sm">Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>


    <div class="row">
      <div class="col-12">
        <h5 class="service-heading">Festivel Posters</h5>
      </div>
      {% for obj in festivel_poster %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="card card-body w-100">
          <img src="{{obj.image.url}}" data-id="{{obj.id | apnumber }}" alt="Image">
          <img src="{{branding_image.image.url}}" alt="" class="branding_image" />
          <p class="my-1">{{obj.title}}</p>
          <div class="text-center">
            <button class="btn-sm btn btn-primary generate" target="_blank"
              data-source="{{obj.id | apnumber }}">Download</button>
            <a href="{{obj.detail_link}}" class="btn btn-info btn-sm">Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>


    <div class="row">
      <div class="col-12">
        <h5 class="service-heading">Professional Services</h5>
      </div>
      {% for obj in professional_poster %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-6">
        <div class="card card-body w-100">
          <img src="{{obj.image.url}}" data-id="{{obj.id | apnumber }}" alt="Image">
          <img src="{{branding_image.image.url}}" alt="" class="branding_image" />
          <p class="my-1">{{obj.title}}</p>
          <div class="text-center">
            <button class="btn-sm btn btn-primary generate" target="_blank"
              data-source="{{obj.id | apnumber }}">Download</button>
            <a href="{{obj.detail_link}}" class="btn btn-info btn-sm">Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>

{% include 'web/partials/poster.html' %}

{% endblock %}
