{% load humanize %}

<!-- important poster -->
<div class="row">
  {% for posters in important_poster %}


  <div class="col-lg-3 col-md-4 col-sm-6 col-6">
    <div class="card card-body w-100">
      <img src="{{posters.image.url}}" data-id="{{posters.id | apnumber }}" alt="Image">
      <img src="{{branding_image.image.url}}" alt="" class="branding_image" />

      <div class="text-center mt-3">
        <button class="btn-sm mx-auto btn btn-primary" target="_blank" rel="noopener noreferrer"
          data-source="{{posters.id | apnumber }}">Click to Download</button>
      </div>

      <span>{{posters.title}}</span>
    </div>
  </div>

  {% endfor %}
</div>

{% include 'web/partials/poster.html' %}

