{% extends 'web/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}


{% csrf_token %} 
<!-- search -->

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">


<!--  -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<!-- partial -->
<div class="main-panel " id="demo">
  <div class="content-wrapper" id="demo2">


    <!-- {% if messages %}
    <div class="messages text-center success-message" id="sucessful-login-message">
      {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
      </div>  
      {% endfor %}
    </div>
    {% endif %} -->



    <!-- service head display -->
    <section>
      <div class="row">

        {% for each_service_head in service_head %}
        <div class="col-lg-2 col-md-2 col-sm-6 col-6 pb-4 ">
          <div class="service-main-head-index text-center bg-gradient-danger">
            <a href="{% url 'services:service' each_service_head.slug %}"
              class="serviec-main-head-a">{{each_service_head.title}}</a>
          </div>
        </div>
        {% endfor %}



        {% comment %}
        <div class="col-lg-3 col-md-2 col-sm-4 col-4 pb-4">
          <div class="service-main-head text-center bg-gradient-danger">
            <a href="{% url 'services:service' %}" class="serviec-main-head-a">Service Heading 1</a>
          </div>
        </div>
        {% endcomment %}
      </div>
      <!-- <div class="text-center py-5 ">
        <a href="{% url 'services:serviceHead' %}" class="show-more badge-gradient-info">Show More</a>
      </div> -->
    </section>

    <!--news scrolling  -->
    <section class="py-2">
      <div class="alert alert-info">
        <span class="text1">

          <marquee><b>{{latest_news.news}}</b>
            {% if latest_news.link == None %}
            <span></span>
            {% else %}
            <span> <a href="{{latest_news.link}}" rel="noopener noreferrer" target="_blank" class="news">Click
                Here</a></span>
            {% endif %}
          </marquee>


        </span>
      </div>
    </section>


    <div class="d-none">
      <div class="service-heading">
        <h5>Branding Image</h5>
      </div>
      <div class="container">
        
        <img src="{{branding_image.image.crop.1000x100}}" id="footerImage" alt="Image">
       
       
      </div>
    </div>


    <!-- new services -->
    <section class="py-5">
      <h6 class="pb-4 service-heading">NEW SERVICES</h6>
      <div class="container">

        <div class="row">

          {% for posters in new_service_poster %}
          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="container__img-holder">
              <img src="{{posters.image.url}}" data-id="{{posters.id | apnumber }}" alt="Image">

              <div class="text-center mt-3">
                <button class="btn-sm mx-auto btn btn-primary" target="_blank" rel="noopener noreferrer"
                  data-source="{{posters.id | apnumber }}">Click to Download</button>
              </div>

              <span>{{posters.title}}</span>
            </div>
          </div>
          {% endfor %}
          <div class="img-popup">
            <div class="container" id="resultContainer" style="display: none;">

              <img class="img-responsive popup-imagea" id="result" src="">
              <div class="text-center mt-3 poster-download-button">
                <a id="download" class="btn-sm mx-auto btn btn-primary" download>Download</a>
              </div>
            </div>
            <div class="close-btn">
              <div class="bar"></div>
              <div class="bar"></div>
            </div>
          </div>
        </div>
      </div>




    </section>

    <!-- importants -->
    <section class="pt-3">
      <h6 class="pb-4 service-heading">IMPORTANT</h6>
      <div class="container">

        <div class="row">
          {% for posters in important_poster %}


          <div class="col-lg-3 col-md-4 col-sm-6 col-6">
            <div class="container__img-holder">
              <img src="{{posters.image.url}}" data-id="{{posters.id | apnumber }}" alt="Image">

              <div class="text-center mt-3">
                <button class="btn-sm mx-auto btn btn-primary" target="_blank" rel="noopener noreferrer"
                  data-source="{{posters.id | apnumber }}">Click to Download</button>
              </div>

              <span>{{posters.title}}</span>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>


    </section>






  </div>
  <!-- content-wrapper ends -->

</div>
<!-- main-panel ends -->


{% endblock %}
<!-- ===============successful login message  -->




{% block js %}

<!-- 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('#sucessful-login-message').fadeOut(3000)
  })  
</script> -->


<script>
  function downloadImage(elm) {
    var canvas = document.createElement('canvas');
    canvas.width = Width;
    canvas.height = headerImageHeight + footerImageHeight + HeightAdjustment;
    var ctx = canvas.getContext('2d');

    var footerImage = document.getElementById('footerImage');
    var source = elm.getAttribute('data-source');
    var dataImage = document.querySelector(`img[data-id="${source}"]`)

    ctx.drawImage(dataImage, 0, 0, Width, headerImageHeight);
    ctx.drawImage(footerImage, 0, headerImageHeight + HeightAdjustment, Width, footerImageHeight);

    var dataURL = canvas.toDataURL('image/png');
    document.getElementById('result').src = dataURL;
    document.getElementById('download').href = dataURL;
    document.getElementById('resultContainer').style.display = 'block';
  }

  var buttons = document.querySelectorAll('button');
  var Width = 2500; //> same width to both images
  var headerImageHeight = 2500;
  var footerImageHeight = 500;
  var HeightAdjustment = -100;

  buttons.forEach(function (button) {
    button.addEventListener('click', function () {
      downloadImage(this);
    });
  });
</script>
<script>
  ! function (r, i) {
    var n, o, s, l, d, e, t, a, c, u, f, m, p = ".ad902dd1",
      y = r.head;
    "function" == typeof [].indexOf && y && (i.a2a = i.a2a || {}, n = i.a2a_config = i.a2a_config || {}, e = (o = r.currentScript) && o.src ? o.src : "", NodeList && NodeList.prototype.forEach && (i.a2a.init = function (e, t) {
      void 0 === t && (t = n);
      var a = ":not([data-a2a-url]):not(.a2a_target)";
      r.querySelectorAll(".a2a_dd" + a + ",.a2a_kit" + a).forEach(function (e) {
        e.matches(".a2a_kit .a2a_dd");
        e.a2a_index || null !== e.getAttribute("data-a2a-url") || e.matches(".a2a_kit .a2a_dd") || (e.dataset.a2aUrl = t.linkurl || "", t.linkname && (e.dataset.a2aTitle = t.linkname))
      }), delete n.linkurl, delete n.linkname
    }, i.a2a_init = i.a2a.init, !o || o.async || o.defer || i.a2a.init("page", {
      linkurl: n.linkurl,
      linkname: n.linkname
    })), i.a2a.page || (i.a2a.page = !0, s = [], ["init_all", "svg_css"].forEach(function (a) {
      i.a2a[a] = function () {
        for (var e = [], t = 0; t < arguments.length; t++) e[t] = arguments[t];
        s.push([a, e])
      }
    }), a = (m = n.static_server) ? m + "/" : "https://static.addtoany.com/menu/", t = e && -1 !== e.split("/")[2].indexOf("addtoany"), l = (t = (l = !m && t ? e : a).match(/^[^?#]+\//)) ? t[0] : l, d = function (e, t, a) {
      void 0 === e && (e = l + "eso" + p + ".js"), void 0 === t && (t = !1);
      var n = r.createElement((a = void 0 === a ? !1 : a) ? "link" : "script"),
        i = "module",
        a = (a ? (a = "preload", n.href = e, n.rel = t ? i + a : a, t || (n.as = "script")) : (n.src = e, t && (n.type = i, n.onerror = function () {
          return d()
        })), o && o.nonce ? o.nonce : null);
      a && (n.nonce = a), y.appendChild👎
    }, "function" == typeof (e = "".matchAll) && e.toString().includes("[native code]") ? (t = a + (m ? "" : "svg/"), d((e = l + (m ? "" : "modules/")) + "core" + p + ".js", !0), a = document.createElement("link").relList.supports(
      "modulepreload"), n.overlays && n.overlays.length && a && d(e + "overlays" + p + ".js", !0, !0), r.querySelector('.a2a_dd:empty,.a2a_kit [class*="a2a_button_"]:empty') && d(t + "icons.31.svg.js", !1, !0)) : d(), u = function (
        e) {
        var t = i.a2a.core;
        "function" != typeof t || e ? e ? e() : i.a2a.core = function (e) {
          return u(e)
        } : t()
      }, m = function () {
        var e, t, a, n;
        f || (f = !0, t = "a2a_menu_container", e = r.getElementById(t), i.a2a.main = c = e || r.createElement("div"), c.id != t && (c.style.position = "static", r.body.insertBefore(c, null)), u(), s.forEach(function (e) {
          var t;
          (t = i.a2a)[e[0]].apply(t, e[1])
        }), i.addEventListener("message", function (e) {
          var t;
          ".addtoany.com" === e.origin.substr(-13) && "object" == typeof (e = e.data) && e.a2a && ("function" == typeof (t = i.a2a.userServices) ? t(e.user_services) : i.a2a.userServices = e.user_services, r
            .getElementById("a2a_sm_ifr").style.display = "none")
        }), e = r.createElement("iframe"), t = r.createElement("div"), a = e.style, n = t.style, e.id = "a2a_sm_ifr", a.width = a.height = n.width = n.height = "1px", a.top = a.left = a.border = "0", a.position = n.position =
        "absolute", a.zIndex = n.zIndex = "100000", e.title = "AddToAny Utility Frame", e.setAttribute("transparency", "true"), e.setAttribute("allowTransparency", "true"), e.setAttribute("frameBorder", "0"), e.src =
          "https://static.addtoany.com/menu/sm.23.html#type=core&event=load", n.top = "0", n.visibility = "hidden", c.insertBefore(t, null), t.insertBefore(e, null))
      }, "loading" !== r.readyState ? m() : (r.addEventListener("readystatechange", m), r.addEventListener("DOMContentLoaded", m))))
  }(document, window);
</script>






{% endblock %}