{% extends 'web/base.html' %}
{% block content %}
{% load static %}


<div class="main-panel " id="demo">
    <div class="content-wrapper" id="demo2">
        <section>
            <div class="row">
                {% for tips in marketing_tips %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-3 software-card-margin ">
                    <a href="">
                        <div class="card-tip">
                            <div class="card-body-tip">
                                <img src="{{tips.image.crop.194x194}}" alt="">
                            </div>
                        </div>
                    </a>
                    <div class='buttons'>
                        <div class='left-col'>
                            <a href="{{tips.link}}" class="access-tip" rel="noopener noreferrer"
                                target="_blank">ACCESS</a>
                        </div>
                        <div class='right-col-tip'>
                            <span class="name-tip">{{tips.name}}</span>
                            <!-- <a href=""  rel="noopener noreferrer" target="_blank"></a> -->
                        </div>
                    </div>
                    <!-- <div>
                        <a href="{{tips.link}}" class="access-tip" rel="noopener noreferrer" target="_blank">ACCESS</a>
                        <a href="" class="name-tip" rel="noopener noreferrer" target="_blank">{{tips.name}}</a>
                      </div> -->
                    <!-- <a href="{{tips.link}}">
                        <button class="btn-hover-tip color-6">{{tips.name}}</button>
                    </a> -->
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>



{% endblock %}
