{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<div class="main-panel " id="demo">
    <div class="content-wrapper" id="demo2">
        <section>
            <div class="row">
                {% for tips in marketing_tips %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 pb-3 software-card-margin ">
                    <a href="">
                        <div class="card">
                            <div class="card-body-tip">
                                <img src="{{tips.image.url}}" alt="">
                            </div>
                            <div class="head-name">
                                <h6>{{tips.name}}</h6> 
                             </div>
                        </div>
                    </a>
                    <div class="row row-width">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 access-button">
                            <a href="{{tips.detail_link}}" style="color: #fff;" rel="noopener noreferrer" target="_blank">ACCESS</a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-6 access-button">
                            <a href="{{tips.detail_link}}" style="color: #fff;" rel="noopener noreferrer" target="_blank">DETAILS</a>
                        </div>
                    </div>
                    {% comment %}
                    <div class='buttons'>
                        <div class='left-col'>
                            <a href="{{tips.link}}" class="access-tip" rel="noopener noreferrer"
                                target="_blank">ACCESS</a>
                        </div>
                        <div class='right-col-tip'>
                            <span class="name-tip">{{tips.name}}</span>
                            <!-- <a href=""  rel="noopener noreferrer" target="_blank"></a> -->
                        </div>
                    </div>
                    {% endcomment %}
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>

{% endblock %}
