{% extends 'web/base.html' %}
{% load static %}
{% block content %}
{% load static humanize %}


<div class="main-panel " id="demo">
    <div class="content-wrapper" id="demo2">
         <!-- new services -->
    <section>
        <h6 class="pb-2 service-heading">NEWLY ADDED SERVICES</h6>
        <div class="container">
          <div class="d-none">
            <div class="service-heading">
              <h5>Branding Image</h5>
            </div>
            <div class="container">
              {% if branding_image.image %}
              <img src="{{branding_image.image.crop.1000x100}}" id="footerImage" alt="Image">
              {% else %}
              <h4>....</h4>
              {% endif %}
            </div>
          </div>
      
          <div class="row">
  
            {% for obj in service_posters %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-6">
              <div class="card card-body w-100">
                <img src="{{obj.image.url}}" data-id="{{obj.id | apnumber }}" alt="Image">
                <p class="my-1">{{obj.title}}</p>
                <div class="text-center">
                  <button class="btn-sm btn btn-primary generate" target="_blank"
                    data-source="{{obj.id | apnumber }}">Download</button>
                  <a href="{{obj.detail_link}}" class="btn btn-info btn-sm">Details</a>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="img-popup">
              <div class="container" id="resultContainer" style="display: none;">
  
                <img class="img-responsive popup-imagea" id="result" src="">
                <div class="text-center mt-3 poster-download-button">
                  <a id="download" class="btn-sm mx-auto btn btn-primary" download>Download</a>
                </div>
              </div>
              <div class="close-btn">
                <div class="bar"></div>
                <div class="bar"></div>
              </div>
            </div>
          </div>
        </div>
  
      </section>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header pb-0">
        <h5 class="modal-title" id="exampleModalLongTitle">Download Poster</h5>
      </div>
      <div class="modal-body" id="modalBody">
      </div>
      <div class="modal-footer" id="modalFooter">

      </div>
    </div>
  </div>
</div>

{% endblock %}


{% block js %}
<script>
  function generateImage(elm) {
    var canvas = document.createElement('canvas');
    canvas.width = Width;
    canvas.height = headerImageHeight + footerImageHeight + HeightAdjustment;
    var ctx = canvas.getContext('2d');
    var modalBody = document.getElementById('modalBody');
    modalBody.appendChild(canvas);
    var footerImage = document.getElementById('footerImage');
    var source = elm.getAttribute('data-source');
    var dataImage = document.querySelector(`img[data-id="${source}"]`)

    ctx.drawImage(dataImage, 0, 0, Width, headerImageHeight);
    ctx.drawImage(footerImage, 0, headerImageHeight + HeightAdjustment, Width, footerImageHeight);

    var modalFooter = document.getElementById('modalFooter');
    modalFooter.innerHTML = '';

    image = canvas.toDataURL("image/png", 1.0).replace("image/png", "image/octet-stream");
    var link = document.createElement('a');
    link.setAttribute('href', image);
    link.setAttribute('download', 'image.png');
    link.setAttribute('class', 'btn btn-primary d-block');
    link.innerHTML = 'Download';
    modalFooter.appendChild(link);
  }

  var buttons = document.querySelectorAll('.generate');
  var Width = 1080; //> same width to both images
  var headerImageHeight = 858;
  var footerImageHeight = 222;
  var HeightAdjustment = 0;

  buttons.forEach(function (button) {
    button.addEventListener('click', function () {
      $('.modal-body').empty();
      $('#exampleModalCenter').modal('show');
      generateImage(this);
    });
  });


</script>
{% endblock %}