{% extends 'web/base.html' %}
{% load static %}

{% block content %}
<div class="main-panel " id="demo">
    <div class="content-wrapper" id="demo2">

        <div class="container">
            <div id="task">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-10 col-10 note-title">
                        <input placeholder="Add title" type="title" id="title">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2 ">
                        <button class="AddToDo "><i class="fa-solid fa-plus"></i> <span
                                class="d-sm-none d-lg-inline d-md-inline"> Add Notes</span> </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <textarea type="text" name="notes" placeholder="write here..." id="notes"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="Display"></div>
    </div>
</div>

{% endblock %}


{% block js %}
<script>
    let addTodo = document.querySelector('.AddToDo')
    showtodo()

    addTodo.addEventListener('click', function (e) {
        let todo = document.querySelector('#title');
        let writeNote = document.querySelector("#notes")
        let todolist = localStorage.getItem('todolist');
        if (todolist === null) {
            todoObj = []
        }
        else {
            todoObj = JSON.parse(todolist)
        }
        let myObj = {
            title: todo.value,
            text: writeNote.value
        }
        todoObj.push(myObj)
        localStorage.setItem('todolist', JSON.stringify(todoObj))
        todo.value = ''
        writeNote.value = ''
        showtodo();

    })
    function showtodo() {
        let todolist = localStorage.getItem("todolist")

        if (todolist === null) {
            todoObj = []
        }
        else {
            todoObj = JSON.parse(todolist)
        }
        let html = '';
        todoObj.forEach(function (element, index) {
            html += `<div id="Displaytask">
         <h3>${element.title}</h3>
        
         <button  id=" ${index}" onclick="deletetodo()" class="AddToDo"><i class="fa-solid fa-trash"></i> Delete</button>
          <textarea type="text" name="notes" placeholder="write here..." id="notes" > ${element.text} </textarea>
       </div>`
        });

        let notesElm = document.querySelector(".Display")
        if (todoObj.length != 0) {
            notesElm.innerHTML = html;
        }
        else {
            notesElm.innerHTML = "<h3>Nothing to show here! Please, click on Add Notes to add your notes here</h3>"
        }
    }

    function deletetodo(index) {
        // console.log("i amm deleting",index)
        let todolist = localStorage.getItem("todolist")
        if (todolist === null) {
            todoObj = []
        }
        else {
            todoObj = JSON.parse(todolist)
        }
        todoObj.splice(index, 1)
        localStorage.setItem('todolist', JSON.stringify(todoObj))
        showtodo()
    }
</script>
{% endblock %}