{% extends 'web/base.html' %}
{% load static %}

{% block content %}

<div class="main-panel " id="demo">
    <div class="content-wrapper" id="demo2">
        <section>
            <div class="row">
                {% for ideas in other_ideas %}
                <div class="col-lg-2 col-md-4 col-sm-6 col-6 grid-margin">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ideas.image.url}}" alt="">
                        </div>
                        <div class="head-name">
                            <h5 style="color:#000 ;">{{ideas.title}}</h5>
                            <h6 style="color:#000 ;">{{ideas.name}}</h6>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="w-50 access-button mr-1">
                            <a href="{{ideas.detail_link}}" style="color: #fff;" rel="noopener noreferrer"
                                target="_blank">ACCESS</a>
                        </div>
                        <div class="w-50 access-button">
                            <a href="{{ideas.detail_link}}" style="color: #fff;" rel="noopener noreferrer"
                                target="_blank">DETAILS</a>
                        </div>
                    </div>
                    {% comment %}
                    <div class='buttons'>
                        <div class='left-col'>
                            <a href="{{ideas.link}}" class="access-idea" rel="noopener noreferrer"
                                target="_blank">ACCESS</a>
                        </div>
                        <div class='right-col-idea'>
                            <span class="name-idea">{{ideas.name}}</span>
                            <!-- <a href=""  rel="noopener noreferrer" target="_blank"></a> -->
                        </div>
                    </div>
                    {% endcomment %}
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>

{% endblock %}}