
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RAZORPAY</title>
</head>
<body>
    <div class="row">
        <form method="POST">
            
            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <script>
            var options = {
                key: "{{razorpay_key}}",
                amount: "{{order.amount}}", 
                currency: "INR",
                name: "{{order.name}}",
                description: "Test Transaction",
                image: "https://example.com/your_logo",
                order_id: "{{order.provider_order_id}}",
                callback_url: "{{callback_url}}",
                redirect: true,
                theme: {
                    "color": "#29278d"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
            </script>
            <input type="hidden" custom="Hidden Element" name="hidden">
        </form>
    </div>
</body>
</html>
