{% extends 'web/base.html' %}
{% block content %}
{% load static %}

<style>
    .branding_image_uploading {
        background: #f2edf3 !important;
        width: 100%;
        margin: 23px 0px;
        height: auto;
    }

    .buynow_button {
        background-color: #00409f;
        color: #fff;
        padding: 7px 10px;
        margin: 0px 9px;
        font-size: 14px;
        text-align: center;
        border-radius: 13px
    }

    .save_button {
        background-color: #00409f;
        border: 1px solid #00409f;
        color: #fff;
        padding: 7px 10px;
        margin: auto;
        font-size: 14px;
        text-align: center;
        border-radius: 13px
    }


    .label-file {
        display: block;
        margin: 0 auto;
        padding: 7px 10px;
        background-color: #00409f;
        color: #fff;
        border-radius: 13px;
        font-size: 14px;
        text-align: center;
    }

    .label-file:hover {
        background-color: rgb(5, 73, 199);
    }

    .label-file:active {
        background-color: rgb(1, 119, 80);
    }

    .get-input {
        border: 0;
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    
    @media only screen and (min-width:320px) and (max-width:567px) {
        .expiry_date{
        margin-left: 0px !important;
    }
        .label-file {
        display: block;
        margin: 0 auto;
        padding: 7px 10px;
        background-color: #00409f;
        color: #fff;
        border-radius: 13px;
        font-size: 10px;
        text-align: center;
    }

    .save_button {
        background-color: #00409f;
        border: 1px solid #00409f;
        color: #fff;
        font-size: 10px;
        padding: 7px 10px;
        margin: auto;
        text-align: center;
        border-radius: 13px
    }
    .buynow_button {
        background-color: #00409f;
        color: #fff;
        padding: 7px 10px;
        font-size: 10px;
        margin: 0px 8px;
        text-align: center;
        border-radius: 13px
    }
    }

    @media only screen and (min-width:1044px){
        /* .buynow_button {
        background-color: #00409f;
        color: #fff;
        padding: 7px 10px;
        margin: 0px 9px;
        text-align: center;
        font-size: 14px;
        border-radius: 13px
    }

    .save_button {
        background-color: #00409f;
        border: 1px solid #00409f;
        color: #fff;
        padding: 7px 10px;
        margin: auto;
        text-align: center;
        font-size: 14px;
        border-radius: 13px
    }


    .label-file {
        display: block;
        margin: 0 auto;
        padding: 7px 10px;
        background-color: #00409f;
        color: #fff;
        border-radius: 13px;
        font-size: 14px;
        text-align: center;
    } */
    
    }
</style>

<div class="main-panel " id="demo">
    <div class="content-wrapper" id="demo2">

        <div class="container rounded bg-white">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                        {% if request.user.profile_image %}
                        <img class="rounded-circle mt-5" width="150px" src="{{request.user.profile_image.url}}">
                        {% else %}
                        <img class="rounded-circle mt-5" width="150px" src="{% static 'web/images/deafult-01.jpg' %}">
                        {% endif %}
                        <span class="font-weight-bold">{{request.user.name}}</span>
                        <span class="text-black-50">{{request.user.category}}</span>
                        <span> </span>
                    </div>
                </div>
                <div class="col-md-6 border-right">
                    <div class="p-3 py-4">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile </h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12"><label class="labels">Name</label>
                                <input type="text" class="form-control" value="{{request.user.name}}">
                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Mobile Number</label>
                                <input type="text" class="form-control" value="{{request.user.phone}}">
                            </div>
                            <div class="col-md-12"><label class="labels">Email Id</label>
                                <input type="text" class="form-control" value="{{request.user.email}}">
                            </div>
                            <div class="col-md-12"><label class="labels">Shop Name</label>
                                <input type="text" class="form-control" value="{{request.user.shop_name}}">
                            </div>
                            <div class="col-md-12"><label class="labels">Shop Address</label>
                                <input type="text" class="form-control" value="{{request.user.shop_address}}">
                            </div>
                            <div class="col-md-12"><label class="labels">District</label>
                                <input type="text" class="form-control" value="{{request.user.district}}">
                            </div>
                            <div class="col-md-12"><label class="labels">Pincode</label>
                                <input type="text" class="form-control" value="{{request.user.pincode}}">
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                        Expiry Date: {{subscription_validity.valid_upto|date:"M/d/Y"}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-3 col-3">
                                <div class="d-flex justify-content-between align-items-center experience">
                                    <a href="{% url 'web:profile_update' %}">
                                        <button class="editbtn" id="chatBtn"><i class="fa fa-edit"></i> Edit</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-3 col-3">
                                <div class="d-flex justify-content-between align-items-center experience">
                                    <a href="{% url 'web:upgrade_plan' %}">
                                        <button class="editbtn" id="chatBtn"><i class="fa-solid fa-sack-dollar"></i>
                                            Plan</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-6">
                                <div class="d-flex justify-content-between align-items-center experience">
                                    <a href="{% url 'web:certificate_view' %}">
                                        <button class="certificate" id="chatBtn"><i class="fa-solid fa-download"></i>
                                            Download Certificate</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-6">
                                <div class="d-flex justify-content-between align-items-center experience">
                                    <a href="{% url 'auth_password_change' %}">
                                        <button class="certificate" id="chatBtn"><i class="fa-solid fa-lock"></i> Change
                                            Password</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="branding_image_uploading">
                    {% if uploaded_branding_image.image %}
                    <img src="{{uploaded_branding_image.image.url}}" style="width: 100%;" class="responsive-size">
                    {% else %}
                    <h5 style="text-align: center;color: rgb(77, 3, 3);padding: 40px 0px;">Upload Your Branding Image</h5>
                    {% endif %}
                </div>
            </div>

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                            <label class="label-file">{{branding_image_form.image}} Upload Image</label>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                            <input type="submit" value="Save Uploaded Image" class="save_button">
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                                <a href="{% url 'web:buy_now_branding_image' %}">
                                    <div class="buynow_button">
                                        Buy Now
                                    </div>
                                </a>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}
