{% extends 'web/base.html' %}
{% load static %}
{% load humanize %}
{% block body %}

<div class="row">
  {% for prof_posters in professional_poster %}

  <div class="col-lg-3 col-md-4 col-sm-6 col-6">
    <div class="container__img-holder">
      <img src="{{prof_posters.image.url}}" data-id="{{prof_posters.id | apnumber }}" alt="Image">

      <div class="text-center mt-3">
        <button class="btn-sm mx-auto btn btn-primary" target="_blank" rel="noopener noreferrer"
          data-source="{{prof_posters.id | apnumber }}">Click to Download</button>
      </div>

      <span>{{prof_posters.title}}</span>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}