{% extends 'web/base.html' %}
{% block content %}
{% load static %}


<div class="main-panel " id="demo">
    <div class="content-wrapper" id="demo2">

        <div class="container rounded bg-white">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            
                        {% if logined_user.profile_image %}
                        <img class="rounded-circle mt-5" width="150px" src="{{logined_user.profile_image.url}}">
                        {% else %}
                        <img class="rounded-circle mt-5" width="150px" src="{% static 'web/images/deafult-01.jpg' %}">
                        {% endif %}
                        <span class="font-weight-bold">{{logined_user.name}}</span>
                        <span class="text-black-50">{{logined_user.category}}</span>
                        <span> </span>
                    </div>
                </div>
                <div class="col-md-6 border-right">
                    <div class="p-3 py-2">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Profile </h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12"><label class="labels">Name</label>
                                <input type="text" class="form-control"  value="{{logined_user.name}}"></div>
                            
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Mobile Number</label>
                                <input type="text" class="form-control" value="{{logined_user.phone}}">
                            </div>
                            <div class="col-md-12"><label class="labels">Email Id</label>
                                <input type="text" class="form-control" value="{{logined_user.email}}">
                            </div>
                            <div class="col-md-12"><label class="labels">Shop Name</label>
                                <input type="text" class="form-control" value="{{logined_user.shop_name}}">
                            </div>
                            <div class="col-md-12"><label class="labels">Shop Address</label>
                                <input type="text" class="form-control" value="{{logined_user.shop_address}}">
                            </div>
                            
                        </div>
                      
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="p-3">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-3 col-3">
                                <div class="d-flex justify-content-between align-items-center experience">
                                    <a href="{% url 'web:profile_update' %}">
                                        <button class="editbtn" id="chatBtn"><i class="fa fa-edit"></i> Edit</button>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-3 col-3">
                                <div class="d-flex justify-content-between align-items-center experience">
                                    <a href="">
                                        <button class="editbtn" id="chatBtn"><i class="fa-solid fa-sack-dollar"></i> Plan</button>
                                    </a> 
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-6 col-6">
                                <div class="d-flex justify-content-between align-items-center experience">
                                    <a href="">
                                        <button class="certificate" id="chatBtn"><i class="fa-solid fa-download"></i> Download Certificate</button>
                                    </a>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </div>
</div>


{% endblock %}