{% extends 'registration/registration_base.html' %}
{% load static widget_tweaks crispy_forms_tags %}
{% block content %}

<form class="" method="POST" action="">
    <h2 class="text-uppercase">USK Agent Registration</h2>
    <div class="row text-left">
        {% csrf_token %}
        {{user_form|crispy}}
    </div>

    <div class="mb-4">
        <label for="termsCheck" class="form-check-label d-flex align-items-center">
            <input type="checkbox" name="terms" id="termsCheck" required class="me-2">
            I agree to the <a href="{% url 'web:terms_and_conditions' %}" target="_blank">Terms and Conditions</a>
    </div>

    <div class="form-field text-center">
        <button type="submit" id="submitBtn" class="btn btn-primary" name="register" disabled>Submit</button>
    </div>

    <p class="mt-2"><a href="{% url 'auth_login' %}">Already have an account? Login</a></p>
</form>

{% endblock %}

{% block js %}
<script>
    // if termsCheck is checked, enable submitBtn else disable submitBtn
    $('#termsCheck').change(function () {
        if ($(this).is(':checked')) {
            $('#submitBtn').prop("disabled", false);
        } else {
            $('#submitBtn').prop("disabled", true);
        }
    });
</script>
{% endblock %}