{% load humanize %}
{% load custom_tags %}

{% csrf_token %}

<div id="service-list">
    <div class="row">
      <div class="row">
        {% for posters in result %}
        {% with posters|class_name as cls %}
        {% if cls == 'Services' %}
        <div class="col-lg-2 col-md-3 col-sm-6 col-6 pb-3" id="viewserviceDiv">
          <div class="serviceBox">
              <img src="{{posters.image.crop.179x179}}" class="sub-service-img pb-2" alt="">
              <h3 class="title">{{posters.title}}</h3>
            <div>
              <a href="{{posters.link_to_official_website}}" class="access" rel="noopener noreferrer" target="_blank">ACCESS</a>
              <a href="{% url 'services:serviceDetails' posters.slug %}" class="view-more" >DETAILS</a>
            </div>
          </div>
        </div>
        {% else %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-6">
          <div class="card card-body w-100">
            <img src="{{posters.image.url}}" data-id="result-{{posters.id | apnumber }}" alt="Image">
            <img src="{{branding_image.image.url}}" alt="" />

            <p class="my-1">{{posters.title}}</p>
            <div class="text-center">
              <button class="btn-sm btn btn-primary generate" target="_blank"
                data-source="result-{{posters.id | apnumber }}">Download</button>
              <a href="{{posters.detail_link}}" class="btn btn-info btn-sm" rel="noopener noreferrer" target="_blank">Details</a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endwith %}
        {% endfor %}
       
        <div class="d-none">
          <div class="service-heading">
            <h5>Branding Image</h5>
          </div>
          <div class="container">
            {% if branding_image.image %}
            <img src="{{branding_image.image.crop.1000x100}}" id="footerImage" alt="Image">
            {% else %}
            <h4>....</h4>
            {% endif %}
          </div>
        </div>
      </div>
      
     
    </div>  


  </div>


  {% include 'web/partials/poster.html' %}
 