{% extends 'web/base.html' %}
{% block content %}
{% load static %}


<!-- partial -->
<div class="main-panel " id="demo">
  <div class="content-wrapper" id="demo2">
    <!-- service head display -->
    <div class="container">
      <div class="row">

        {% for service_head in service_heads %}
        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pb-4 service_head">

          <div class="service-main-head text-center bg-gradient-danger">
            <a href="" class="serviec-main-head-a">{{service_head.title}}</a>
          </div>

          <div class="row pt-3">
            {% for service in service_head.get_services %}
            <div class="col-lg-2 col-md-3 col-sm-6 col-6 pb-3 serviceContainer" style="display:none">
              <div class="serviceBox">
                <img src="{{service.image.crop.179x179}}" class="sub-service-img pb-2" alt="">
                <h3 class="title">{{service.title}}</h3>
                <div>
                  <a href="{{service.link_to_official_website}}" class="access" rel="noopener noreferrer" target="_blank">ACCESS</a>
                  <a href="{% url 'services:serviceDetails' service.slug %}" class="view-more">DETAILS</a>
                </div>
              </div>
            </div>
            {% empty %}
            <div class="col-lg-2 col-md-3 col-sm-6 col-6 pb-3">
              NO SERVICE FOUND
            </div>

            {% endfor %}
            
            {% if service_head.get_services|length > 6 %}
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 text-center">
              <a href="" class="load-more btn btn-sm btn-primary">Load More</a>
            </div>
            {% endif %}

          </div>

        </div>
        {% endfor %}

      </div>

    </div>
  </div>
</div>


<script>
  $(document).ready(function () {
    $('.service_head').each(function () {
      $(this).find('.serviceContainer').slice(0, 6).show();
      $(this).find('.load-more').on('click', function (e) {
        e.preventDefault();
        $(this).closest('.service_head').find('.serviceContainer:hidden').slideDown();
        $(this).hide();
      });
    });
  });

</script>

{% endblock %}