{% extends 'web/base.html' %}
{% load static %}

{% block css_plugins %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
{% endblock %}

{% block content %}
<div class="main-panel " id="demo">
    <div class="content-wrapper" id="demo2">
        <div class="row ">
            <div class="one">
                <h2 class="text-center pb-3 service-title ">{{services.title}}</h2>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-12 pb-5">
                <h4 class="service-details-about-head">ABOUT THIS SERVICE</h4>
                <p>{{services.about_service|safe}}</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <h4 class="service-details-about-head">REQUIRED DOCUMENTS</h4>
                <p>{{services.requirements|safe}}</p>
            </div>

        </div>
        <div class="row pt-5">
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 ">
                <div>
                    <h4 class="service-details-about-head">OTHER DETAILS</h4>
                </div>
                <ul>
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-7 col-7">
                            <li>Service Charge </li>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-5 col-5 charge-pad">
                            : <span>&#8377; {{services.service_charge}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-9 col-9">
                            <li>Service Expense </li>
                        </div>
                        <div class="col-lg-7 col-md-6 col-sm-3 col-3 charge-pad">
                            : <span> &#8377; {{services.actual_service_charge}} </span>
                        </div>
                    </div>
                </ul>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-12 ">
                <a href="" class="btn-video">
                    <div class="service-detail-button text-center">
                        <!-- <span>Video Tutorial</span> -->
                        <a href="https://youtube.com/watch?v={{services.video_tutorial}}" class="youtube">Video
                            Tutorial</a>
                    </div>
                </a>

                <a href="{{services.guidline}}">
                    <div class="service-detail-button text-center">
                        <!-- <span>Guidline</span> -->
                        <a href="https://youtube.com/watch?v={{services.video_tutorial}}" class="youtube">View More</a>
                    </div>
                </a>
                {% comment %}
                <a href="{{services.upload_form.url}}" download="{{services.upload_form.url}}">
                    <div class="service-detail-button text-center">
                        <span>Download Forms</span>
                    </div>
                </a>
                {% endcomment %}
                <a href="{{services.upload_form}}">
                    <div class="service-detail-button text-center">
                        <span>Download Forms</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
<script>
    $(document).ready(function () {
        $('.youtube, .popup-vimeo, .popup-gmaps').magnificPopup({
            disableOn: 700,
            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,

            fixedContentPos: false
        });
    }); 
</script>
{% endblock %}