{% extends 'web/base.html' %}
{% block content %}
{% load static %}


<div class="main-panel " id="demo">
    <div class="content-wrapper" id="demo2">
        <div class="row py-5">
            <div class="col-lg-12">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio optio officiis accusamus reiciendis nihil? Delectus laborum consectetur, omnis odio necessitatibus totam sint? Unde quae corporis repellendus commodi cupiditate neque reprehenderit.</p>
            </div>
            <div class="col-lg-12 py-3">
                <div class="upgrade-button">
                    <a href="{% url 'web:upgrade_plan' %}" style="color: #fff;">Upgrade Your Plan</a>
                </div>  
            </div>
        </div>
    </div>
</div>


{% endblock %}