{% load static %}
<!-- partial:partials/_navbar.html -->
<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
      <a class="navbar-brand brand-logo" href="{% url 'web:index' %}"><img src="{% static 'web/images/USK1.svg' %}" style="width:65% ;" alt="logo" /></a>
      <a class="navbar-brand brand-logo-mini" href="{% url 'web:index' %}"><img src="{% static 'web/images/FAV.png' %}" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-stretch">
      <button class="navbar-toggler navbar-toggler align-self-center" id="test" type="button" data-toggle="minimize" >
        <span class="mdi mdi-menu" id="nav-togggle"></span>
      </button>
      <div class="search-field d-none d-md-block">
        <form class="d-flex align-items-center h-100" action="#">
          <div class="input-group">
            <div class="input-group-prepend bg-transparent">
              <i class="input-group-text border-0 mdi mdi-magnify"></i>
            </div>
            <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
          </div>
        </form>
      </div>
      <ul class="navbar-nav navbar-nav-right">
        <li class="nav-item nav-profile dropdown">
          <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <div class="nav-profile-img">
              
              {% if logined_user.profile_image %}
              <img src="{{logined_user.profile_image.url}}" class="profile-picture"/>
              {% else %}
              <img src="{% static 'web/images/deafult-01.jpg' %}"  class="profile-picture"/>
              {% endif %}
              <span class="availability-status online"></span>
            </div>
            <div class="nav-profile-text">
              <p class="mb-1 text-black">{{logined_user.name}}</p>
            </div>
          </a>
          <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
            <a class="dropdown-item" href="{% url 'web:logout' %}">
              <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
          </div>
        </li>
        <li class="nav-item d-none d-lg-block full-screen-link">
          <a class="nav-link">
            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link count-indicator dropdown-toggle"  href="{% url 'web:notes' %}">
            <i class="mdi mdi-note-plus"></i>
          </a>
  
        </li>


        <li class="nav-item dropdown notification-section">
          <a href="#" class="notification dropdown-toggle" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="true">
              <span><i class='fa fa-bell'></i></span>
              <span class="badge" id="notification-badge">0</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="notifications-dropdown"
              data-popper-placement="bottom-end"
              style="position: absolute; inset: 0px auto auto 0px;margin: 25px -59px; transform: translate3d(-70px, 42px, 0px);">
              
              {% for i in notifications %}
              <li class="dropdown-item">{{i.message}}</li>
              <hr class="dropdown-divider">
              {% endfor %}
              {% comment %} <li class='dropdown-item'>Hello</li>
              <hr class="dropdown-divider"> {% endcomment %}
              
          </ul>
      </li>



        <li class="nav-item nav-logout d-none d-lg-block">
          <a class="nav-link" href="{% url 'web:logout' %}">
            <i class="mdi mdi-power"></i>
          </a>
        </li>
          <!-- <li class="nav-item nav-settings d-none d-lg-block">
            <a class="nav-link" href="#">
              <i class="mdi mdi-format-line-spacing"></i>
            </a>
          </li> -->
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>


 {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const notificationSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/notification/'
            + roomName
            + '/'
        );

        notificationSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            //document.querySelector('#chat-log').value += (data.message + '\n');
            console.log(data);
            document.getElementById("notifications-dropdown").innerHTML = "<li class='dropdown-item'>" + data + "</li><hr class='dropdown-divider'>" + document.getElementById("notifications-dropdown").innerHTML;
            document.getElementById("notification-badge").innerHTML = parseInt(document.getElementById("notification-badge").innerHTML)+1;
        };

        notificationSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

      

       
    </script>